@model RestaurantReview.Models.Restaurant

@{
    ViewBag.Title = "Index";
}

<h2>Reviews for @Model.Name</h2>
@if (Model.Reviews != null)
{
    @Html.Partial("_Reviews", @Model.Reviews); 
}
<p>@Html.ActionLink("Create New", "Create")</p>
